  /* Google Maps */
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media screen and (max-width: 500px){
    #office1{
      width: 680px;
      max-height: 200px;
    }
  }

